@font-face {
    font-family: "Reith Sans";
    font-weight: normal;
    src: url("fonts/BBCReithSans_W_Rg.woff2") format("woff2"),
    url("fonts/BBCReithSans_W_Rg.woff") format("woff");
}
@font-face {
    font-family: "Reith Sans";
    font-weight: 500;
    src: url("fonts/BBCReithSans_W_Md.woff2") format("woff2"),
    url("fonts/BBCReithSans_W_Md.woff") format("woff");
}
@font-face {
    font-family: "Reith Sans";
    font-weight: bold;
    src: url("fonts/BBCReithSans_W_Bd.woff2") format("woff2"),
    url("fonts/BBCReithSans_W_Bd.woff") format("woff");
}
@font-face {
    font-family: "Reith Serif";
    font-weight: normal;
    src: url("fonts/BBCReithSerif_W_Rg.woff2") format("woff2"),
    url("fonts/BBCReithSerif_W_Rg.woff") format("woff");
}
@font-face {
    font-family: "Reith Serif";
    font-weight: 500;
    src: url("fonts/BBCReithSerif_W_Md.woff2") format("woff2"),
    url("fonts/BBCReithSerif_W_Md.woff") format("woff");
}
@font-face {
    font-family: "Reith Serif";
    font-weight: bold;
    src: url("fonts/BBCReithSerif_W_Bd.woff2") format("woff2"),
    url("fonts/BBCReithSerif_W_Bd.woff") format("woff");
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

#screen {
    --s: 0.5;
    width: calc(var(--s) * 100vw);
    height: calc(var(--s) * 100vw / 16 * 9);
    float: left;
    display: grid;
    background-color: #04F404;
    overflow: hidden;
    background-image: url("https://ichef.bbci.co.uk/images/ic/1920x1080/p06vdvf1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#screen-live-container {
    font-family: "Reith Sans", serif;
    font-size: calc(var(--s) * 1.6vw);
    color: white;
    position: absolute;
    margin-top: 1.7vw;
    margin-left: calc(var(--s) * 14vw);
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 3.9%;
}
#screen-live-bug {
    position: relative;
    padding: 0.8% 4%;
    background-color:#be002c;
}
#screen-live-locator {
    position: relative;
    padding: 0.3% 3%;
    margin-left: -0.1%;
    background-color: rgba(0,0,0,0.7);
}
#screen-live-locatortail {
    height: 11%;
    width: 100%;
    position: absolute;
    margin: 0 -3.5%;
    bottom: 0;
    background-color: #be002c;
}

#screen-lowerthirds-container {
    align-self: end;
}
#screen-lowerthirds-nameaston-container {
    color: white;
    height: 0;
    padding: 0 14%;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}
#screen-lowerthirds-nameaston-name {
    font-family: "Reith Serif", serif;
    font-size: calc(var(--s) * 2.77vw);
    letter-spacing: 0.03em;
    margin-top: -0.2%;
    padding: 0 0.9%;
}
#screen-lowerthirds-nameaston-title {
    font-family: "Reith Sans", sans-serif;
    font-size: calc(var(--s) * 2vw);
    letter-spacing: 0.037em;
    margin-top: -0.4%;
    padding: 0 0.9% 0.6% 0.9%;
}
#screen-lowerthirds-branding {
    font-family: "Reith Sans", sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 14%;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}
#screen-lowerthirds-branding-network {
    font-size: calc(var(--s) * 1.8vw);
    padding: 0 1.7% 0 0.9%;
    background-color: #be002c;
    white-space: nowrap;
}
#screen-lowerthirds-branding-bbclogo {
    float: left;
    height: 100%;
    width: calc(var(--s) * 6.4vw);
    margin: 2.8% 4.5% 0 0.4%;
    background-image:url("bbc-logo-white.png");
    background-size: contain;
    background-repeat:no-repeat;
}
#screen-lowerthirds-branding-programme {
    font-size: calc(var(--s) * 1.6vw);
    height: 100%;
    padding: 0.22% 0.9%;
    background-color: #be002c;
}
#screen-lowerthirds-heads-container {
    color: white;
    height: 0;
    padding: 0 14%;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    position: relative;
}
#screen-lowerthirds-heads-head {
    font-family: "Reith Serif", serif;
    font-size: calc(var(--s) * 2.77vw);
    letter-spacing: 0.03em;
    margin-top: -0.35%;
    padding: 0 0.9%;
}
#screen-lowerthirds-heads-subhead-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}
#screen-lowerthirds-heads-subhead-1 {
    font-family: "Reith Sans", sans-serif;
    font-size: calc(var(--s) * 2vw);
    letter-spacing: 0.035em;
    margin-top: -0.4%;
    padding: 0 0.9% 0.5% 0.9%;
    position: absolute;
}
#screen-lowerthirds-heads-subhead-2 {
    font-family: "Reith Sans", sans-serif;
    font-size: calc(var(--s) * 2vw);
    letter-spacing: 0.035em;
    margin-top: -0.4%;
    padding: 0 0.9% 0.5% 0.9%;
    position: absolute;
}
#screen-lowerthirds-ticker-bar {
    font-family: "Reith Sans", sans-serif;
    font-size: calc(var(--s) * 1.73vw);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 0 14% 1.8% 14%;
    background-color: rgba(255,255,255,0.95);
}
#screen-lowerthirds-ticker-bar-text-container {
    width: 90%;
    overflow: hidden;
}
#screen-lowerthirds-ticker-text {
    color: #555555;
    letter-spacing: 0.001em;
    white-space: nowrap;
}
.ticker-text-red {
    color: #be002c !important;
}
#screen-lowerthirds-ticker-bullet {
    float: left;
    height: 25%;
    width: 1%;
    margin: 1.25% 1%;
    background-color: #be002c;
}
#screen-lowerthirds-ticker-clock-container {
    overflow: hidden;
    width: 8.35%;
}
#screen-lowerthirds-ticker-clock {
    color: white;
    text-align: center;
    padding-bottom: 6%;
    background-color: #be002c;
}


.button {
    padding: 5px;
    margin: 5px;
    background-color: grey;
    font-family: Arial, sans-serif;
    display: inline-block;
}
.hidden {
    display: none !important;
}